// 
// pagination.scss
//

// Pagination rounded (Custom)
.pagination-rounded {
  .page-link {
    border-radius: 30px !important;
    margin: 0 3px !important;
    border: none;
  }
}
.active{
  .page-link{
    background-color: #6655D9 !important;
  }
}